@mixin button-soft-variant($color, $soft-background: rgba($color, .1)) {
    color: $color;
    background-color: $soft-background;

    &:hover {
        color: color-contrast($color);
        background-color: $color;
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color}-soft {
        @include button-soft-variant($value);
    }
}

