.link-effect {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    &:after {
    	content: "";
	    position: absolute;
	    bottom: 0;
	    left: auto;
	    right: 0;
	    width: 0;
	    height: 1px;
	    background: currentColor;
	    transition: ease all 0.35s;
    }
    &:hover {
    	&:after {
			width: 100%;
			right: auto;
			left: 0;
		}
    }
}

.theme-link {
	a {
		color: $body-color;
		&:hover,
		&.active {
			color: $primary;
		}
	}
}