.cart-qty {
	width: 120px;
	position: relative;
	.qty-btn {
		position: absolute;
		top: 1px;
		bottom: 1px;
		width: 25px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 20px;
		background: $gray-200;
		&:selection {
			background: transparent;
		}
		&:hover {
			color: $black;
		}
	}	
	.dec {
		left: 1px;
	}
	.inc {
		right: 1px;
	}
	.cart-qty-input {
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
		border: 1px solid $gray-300;
	}
}


.product-single-info {
	.products-brand {
		padding-bottom: 5px;
	}
	.products-title {
		padding-bottom: 5px;
		h4 {
			margin: 0;
		}
	}
	.product-price {
	    padding-bottom: 15px;
	    font-size: 1.8rem;
	    line-height: normal;
	    font-weight: 600;
	    del {
	    	font-weight: 400;
	    	font-size: 75%;
	    }
	}
	.rating-star {
		font-size: 12px;
		border-bottom: 1px solid $gray-300;
	    padding-bottom: 20px;
	    margin-bottom: 20px;
		.active {
			color: $warning;
		}
	}
	.quantity-box {
		padding-bottom: 16px;
	}
	.cart-button {
		.btn {
			text-transform: uppercase;
		}
	}
	.buy-now-button {
		padding-bottom: 16px;
		.btn {
			text-transform: uppercase;
		}
	}
	.cart-extra-button {
		.btn {
			border: none;
			padding: 0;
			margin-right: 20px;
			color: $dark;
			i {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: rgba($primary, .1);
				color: $primary;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-right: 5px;
			}
			&:hover {
				color: $primary;
				i {
					background: $primary;
					color: $white;
				}
			}
		}
	}

	.product-info-buttons {
		border-top: 1px solid $gray-300;
		border-bottom: 1px solid $gray-300;
		padding: 15px 0;
		margin: 15px 0;
		a {
			color: $body-color;
			display: inline-flex;
    		align-items: center;
    		justify-content: center;
    		i {
				margin-right: 5px;
			}
    		&:hover {
    			color: $primary;
    		}
			
		}
	}

	.products-meta {
		padding-bottom: 10px;
		label {
			--bs-text-opacity: 0.5;
		}
		a {
			color: $dark;
			&:hover {
				color: $primary;
			}
		}
	}
}


.product-single-gallery {
	.swiper-thumbs {
		margin-top: 10px;
	}
	.pd-gallery-slide {
		position: relative;
		.gallery-link {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 40px;
			height: 40px;
			background: $white;
			color: $dark;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $gray-300;
		}
	}
}


.product-nav-tabs {
	border-bottom: 1px solid $gray-300;
	.nav-item {
		margin-right: 15px;
		@include media-breakpoint-down(md) {
			margin-right: 8px;
		}
	}
	a {
		padding: 10px 35px;
		background: $gray-100;
		border: 1px solid $gray-300;
		position: relative;
		top: 1px;
		color: $dark;
		font-size: 17px;
		@include media-breakpoint-down(md) {
			padding: 8px 15px;
			font-size: 14px;
		}
		&.active {
			background: $white;
			border-bottom: 1px solid $white;
			color: $primary;
		}
	}

}

.product-tabs {
	.tab-content {
		padding: 20px;
		border: 1px solid $gray-300;
		border-top: none;
	}
}
