.footer-top {
	padding-top: 4rem;
	padding-bottom: 4rem;
    @include media-breakpoint-down(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.footer-bottom {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.footer-border-top-dark {
	border-top: 1px solid rgba($white, .1);
}
.footer-border-bottom-dark {
    border-bottom: 1px solid rgba($white, .1);
}

.footer-link-01 {
    li {
        +li {
            padding-top: 0.8rem;

            @include media-breakpoint-down(lg) {
                padding-top: 0.6rem;
            }
        }
    }

    a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        --bs-text-opacity: 0.7;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            width: 0px;
            height: 1px;
            transition: ease all 0.35s;
            background: currentColor;
        }

        &:hover {
        	--bs-text-opacity: 1;
            &:after {
                left: 0;
                right: auto;
                width: 100%;
            }
        }
    }
}